

<%= link_to  itinerary_path(itinerary), class:"link" do %>
    <div class="card mb-4">
      <div class="card-body">
        <h5> <%= itinerary.name %> </h5>
        <p> <strong> Description: </strong> <%= itinerary.description %> </p>
        <p> <strong> Start Date: </strong>  <%= itinerary.start_date %> </p>
        <p> <strong> End Date: </strong>   <%= itinerary.end_date %> </p>
      </div>
    </div>
<% end %>
