<div class="title">
  <h1>OUR</h1>
  <h1>TRAVEL</h1>
  <h1>ITINERARY</h1>
</div>



<div class="cards">
  <% @itineraries.each do |itinerary|  %>
  <div class="cards-header">
  <h5> <%= itinerary.name %> </h5>
  </div>
  <div class="cards-body">
    <h5 class="cards-title"> <%= itinerary.description %> </h5>
    <p class="cards-text"> Starting Date: <%= itinerary.start_date %> </p>
    <p class="cards-text"> End Date: <%= itinerary.end_date %> </p>

    <%# <%= link_to "Check cuurent Itinerary", fighter, {class: "btn btn-primary"} %>
  </div>
  <% end  %>
</div>




<div class="notification">
  <div class="notification-content">
    <p><small>14th January</small></p>
    <p>Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit.</p>
  </div>
</div>
