<div data-controller="scroll-top">
<div class="index">






    <div class="container pt-5 container-itinerary">
      <div class="title">
        <h1>MY TRAVEL ITINERARIES</h1>
        <i class="fa-solid fa-plane fa-3x fa-rotate-270"></i>
      </div>
      <div class="mb-3">
      <%= link_to "Create a new itinerary", new_itinerary_path, class: "btn btn-flat custom-button"%>
      </div>
          <% current_user.itineraries.each do |itinerary|  %>
          <%= render "itinerary_card", itinerary: itinerary %>
          <% end  %>
    </div>

    <div class="container pt-5">
      <div style="width: 100%; height: 600px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>




    <%= image_tag("stamp.png",
          width: 400, height: 300, crop: :fill) %>

    <div class="scroll-top">
      <button data-action="click->scroll-top#scrollToTop" class="scroll-top-button">
      <i class="fa fa-chevron-up"></i>
      </button>
    </div>



</div>
</div>
