<h1>Itineraries#index</h1>



<div class="cards">
  <% @itineraries.each do |itinerary|  %>
  <div class="cards-header">
  <h5> <%= itinerary.name %> </h5>
  </div>
  <div class="cards-body">
    <h5 class="cards-title"> <%= itinerary.description %> </h5>
    <p class="cards-text"> Starting Date: <%= itinerary.start_date %> </p>
    <p class="cards-text"> Starting Date: <%= itinerary.end_date %> </p>
    <a href="#" class="btn btn-primary">Check current Itinerary</a>
    <%# <%= link_to "Check cuurent Itinerary", fighter, {class: "btn btn-primary"} %>
  </div>
  <% end  %>
</div>
