<div class="title">
  <h1>MY TRAVEL ITINERARIES</h1>
  <i class="fa-solid fa-plane fa-3x fa-rotate-270"></i>
</div>

<div class="container pt-5">
  <div class="mb-3">
  <%= link_to "Create a new itinerary", new_itinerary_path, class: "btn btn-flat custom-button"%>
  </div>
    <% current_user.itineraries.each do |itinerary|  %>
      <%= render "itinerary_card", itinerary: itinerary %>
    <% end  %>
</div>

<div class="container pt-5">
<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>

<!--------------Testimonials---------------->

<section id="testimonials">
  <div class="testimonial-heading">
    <span>Comments</span>
    <h1>Clients Says</h1>
  </div>



  <div class="testimonial-box-container">

  <!------------Testimonial 1---------------->

    <div class="testimonial-box">
      <div class="box-top">
        <div class="profile">
          <div class="profile-img">
            <%= image_tag "elon.jpg" %>
          </div>
          <div class="name-user">
            <strong>Elon Musk</strong>
            <span>@elonmu</span>
          </div>
        </div>


        <div class="reviews">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
      </div>


      <div class="client-comment">
      <p>I recently had the opportunity to visit your web page, and I must say
      that I was impressed with what I saw. As someone who is always on the lookout for innovative
      and cutting-edge technology, I found your website to be a true testament to the power of creativity and ingenuity.
      </p>
      </div>
    </div>

<!------------Testimonial 2---------------->

    <div class="testimonial-box">
      <div class="box-top">
        <div class="profile">
          <div class="profile-img">
            <%= image_tag "mark.jpg" %>
          </div>
          <div class="name-user">
            <strong>Mark Zuckerberg</strong>
            <span>@markzu</span>
          </div>
        </div>


        <div class="reviews">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
      </div>


      <div class="client-comment">
      <p> What truly sets your website apart, in my opinion, is the quality
      of the products and services you offer. Your commitment to excellence and your dedication to pushing the boundaries of what's possible are truly inspiring. I have
      no doubt that your innovative ideas and groundbreaking solutions will continue to make a significant impact on the world.</p>
      </div>
    </div>

    <!------------Testimonial 3---------------->

    <div class="testimonial-box">
      <div class="box-top">
        <div class="profile">
          <div class="profile-img">
            <%= image_tag "jeff.jpg" %>
          </div>
          <div class="name-user">
            <strong>Jeff Bezos</strong>
            <span>@jeffbez</span>
          </div>
        </div>


        <div class="reviews">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-o"></i>
        </div>
      </div>


      <div class="client-comment">
      <p> I would highly recommend your website to anyone looking for cutting-edge technology
      and world-class solutions. Keep up the great
        work, and I look forward to seeing what the future holds for your company.</p>
      </div>
    </div>

<!------------Testimonial 4---------------->

    <div class="testimonial-box">
      <div class="box-top">
        <div class="profile">
          <div class="profile-img">
            <%= image_tag "albert.jpg" %>
          </div>
          <div class="name-user">
            <strong>Albert Einstein</strong>
            <span>@albiein</span>
          </div>
        </div>


        <div class="reviews">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
      </div>


      <div class="client-comment">
      <p>I had the pleasure of exploring your trip website, and I must say
      that I was thoroughly impressed by the range
      of travel options and the level of detail provided for each destination.</p>
      </div>
    </div>


  </div>
</section>
