<div class="title">
  <h1>MY TRAVEL ITINERARIES</h1>
  <i class="fa-solid fa-plane fa-3x fa-rotate-270"></i>
</div>

<div class="container pt-5">
  <div class="mb-3">
  <%= link_to "Create a new itinerary", new_itinerary_path, class: "btn btn-flat"%>
  </div>
    <% current_user.itineraries.each do |itinerary|  %>
      <%= render "itinerary_card", itinerary: itinerary %>
    <% end  %>
</div>

<div class="container pt-5">
<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>

<!--------------Testimonials---------------->

<section id="testimonials">
  <div class="testimonial-heading">
    <span>Comments</span>
    <h1>Clients Says</h1>
  </div>



  <div class="testimonial-box-container">

  <!------------Testimonial 1---------------->

    <div class="testimonial-box">
      <div class="box-top">
        <div class="profile">
          <div class="profile-img">
            <%= image_tag "elon.jpeg" %>
          </div>
          <div class="name-user">
            <strong>Elon Musk</strong>
            <span>@elonmu</span>
          </div>
        </div>


        <div class="reviews">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
      </div>


      <div class="client-comment">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero rem, incidunt numquam ex enim
      unde voluptatem vel id cum doloremque! Voluptates, magni vitae
      itaque pariatur laudantium impedit non nemo repellat!</p>
      </div>
    </div>

<!------------Testimonial 2---------------->

    <div class="testimonial-box">
      <div class="box-top">
        <div class="profile">
          <div class="profile-img">
            <%= image_tag "mark.jpeg" %>
          </div>
          <div class="name-user">
            <strong>Mark Zuckerberg</strong>
            <span>@markzu</span>
          </div>
        </div>


        <div class="reviews">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
      </div>


      <div class="client-comment">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero rem, incidunt numquam ex enim
      unde voluptatem vel id cum doloremque! Voluptates, magni vitae
      itaque pariatur laudantium impedit non nemo repellat!</p>
      </div>
    </div>

    <!------------Testimonial 3---------------->

    <div class="testimonial-box">
      <div class="box-top">
        <div class="profile">
          <div class="profile-img">
            <%= image_tag "jeff.jpeg" %>
          </div>
          <div class="name-user">
            <strong>Jeff Bezos</strong>
            <span>@jeffbez</span>
          </div>
        </div>


        <div class="reviews">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-o"></i>
        </div>
      </div>


      <div class="client-comment">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero rem, incidunt numquam ex enim
      unde voluptatem vel id cum doloremque! Voluptates, magni vitae
      itaque pariatur laudantium impedit non nemo repellat!</p>
      </div>
    </div>

<!------------Testimonial 4---------------->

    <div class="testimonial-box">
      <div class="box-top">
        <div class="profile">
          <div class="profile-img">
            <%= image_tag "albert.jpg" %>
          </div>
          <div class="name-user">
            <strong>Albert Einstein</strong>
            <span>@albiein</span>
          </div>
        </div>


        <div class="reviews">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
      </div>


      <div class="client-comment">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero rem, incidunt numquam ex enim
      unde voluptatem vel id cum doloremque! Voluptates, magni vitae
      itaque pariatur laudantium impedit non nemo repellat!</p>
      </div>
    </div>


  </div>
</section>
