<script>
console.log("estou na pagina new.html.erb")
</script>

<div class="background">
  <div class="centering-text">
    <% if @no_records %>
      <%= @no_records %>
    <% end %>
    <div class="transition-fade" data-controller="swup" id="swup">
      <h2>Give us some info and we will give you a customized trip</h2>
      <div class="container mt-3">
        <h5>Destination</h5>
        <%= form_with url: itineraries_path, method: :post, class: "d-flex flex-column", data: { controller: "flatpickr" } do |f| %>
          <div class="mb-5 form-control-destination cursor">
            <%= f.text_field :name,
              class: "search-input",
              placeholder: "Where do you want to go?"
            %>
            <i class="fa-solid fa-magnifying-glass text-dark"></i>
              <div class="mb-5">
                </div>
                 <%= f.simple_fields_for :itinerary, data: { controller: "flatpickr" } do |a| %>
              <div class="mb-5">
                <%= a.input :start_time, as: :string, input_html: { data: { flatpickr_target: "startTime" } }, class: "form-control flatpickr-input" %>
              </div>
              <div class="mb-5">
                <%= a.input :end_time, as: :string, input_html: { data: { flatpickr_target: "endTime" } }, class: "form-control flatpickr-input" %>
              </div>
            <% end %>
          </div>
          <h5>What kind of activities do you want to do? Select all that apply</h5>
          <div class="d-flex flex-wrap justify-content-center">
            <%= f.collection_check_boxes :category,
              ["museum", "shopping", "tour", "church", "local market"],
              :to_s,
              :to_s,
              include_hidden: false do |b| %>
              <div class="custom-checkbox me-3">
                <%= b.check_box %>
                <%= b.label %>
              </div>
             <% end %>
           </div>
          <div class="container mt-5">
            <%= submit_tag "Search", class: "btn btn-flat custom-button ms-2" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

      <%#= link_to "My Dashboard", itineraries_path, class: "btn btn-primary" %>

  <%#= form_with url: test_search_path, method: :get, class: "d-flex" do %>
    <%#= text_field_tag :search,
      params[:search],
      class: "form-control",
      placeholder: "Search for a itinerary"%>

    <%#= submit_tag "Search", class: "btn btn-flat ms-2" %>
  <%# end %>
