<div class="itinerary">
  <div class="banner" style="background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0,0,0,0.4)), url()">
    <div class="container">
    <% if !@itinerary.itinerary_activity_joins.empty? %>
        <h1> My itinerary in <%= @itinerary.itinerary_activity_joins.first.activity.location %></h1>
        <p>Start date: <%= @itinerary.start_date.strftime("%d-%m-%Y") %></p>
          <p>End date: <%= @itinerary.end_date.strftime("%d-%m-%Y") %> </p>
    </div>
  </div>
<div class="activities mb-5">
  <% @itinerary.itinerary_activity_joins.each do |join| %>
    <div class="card" style="width: 18rem;">
      <%#= image_tag join.activity.photo %>
      <div class="card-body">
        <p style="text-decoration: underline"><strong><%= join.activity.category %></strong></p>
        <p> <%= join.activity.Title %> </p>
        <p> From <%= join.activity.price.to_i %>€ per person </p>
        <%= link_to "Delete", join,
          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-delete custom-button" %>
        <div class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal<%= join.id %>">
          See more
        </div>
      </div>
    </div>
    <div class="modal fade" id="exampleModal<%= join.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"><strong><%= join.activity.Title %></strong></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="picture">
              <%#= image_tag join.activity.photo %>
            </div>
            <p style="text-decoration: underline"><%= join.activity.category %></p>
            <p><strong>Address:</strong> <%= join.activity.address %> </p>
            <p><strong>Duration:</strong> <%= join.activity.duration %> minutes </p>
            <p><strong>From:</strong> €<%= join.activity.price.to_i %> per person </p>
            <p> Link: <%= join.activity.link %> </p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <% end %>

</div>
<div class="mt-5 px-5 pt-5 border-top w-100">
<h2 class="mb-2">Notes to self:</h2>
<ul class="mb-4">
  <%  @itinerary.itinerary_notes.each do |note|  %>
    <li>
      <%= note.description %>
      <%= link_to itinerary_itinerary_note_path(@itinerary, note), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
        <i class="fa fa-trash-o"></i>
      <% end %>
    </li>
  <% end %>
</ul>
  <%= simple_form_for [@itinerary, @itinerary_note] do |form| %>
    <%= form.input :description, label: false, placeholder: "Add a note about this itinerary"%>
    <%= form.submit "Save", class: "btn btn-primary mt-2" %>
  <% end %>
</div>
