

<div class="itinerary">

    <div class="banner" style="background-image:  url(<%= asset_path 'athens.avif' %>)">
      <div class="container">
        <h1>Enjoy amazing holidays in Boston</h1>
        <p>A new amazing adventure is waiting for you</p>
        <a class="btn btn-flat" href="#">Apply now</a>
      </div>
    </div>



    <div class="activities">
      <% @itinerary.itinerary_activity_joins.each do |join| %>
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h1> Address:  <%= join.activity.address %> </h1>
            <h1> Category:  <%= join.activity.category %> </h1>
            <h1> Price:  <%= join.activity.price %> € </h1>
            <h1> Duration:  <%= join.activity.duration %> min </h1>
          <%= link_to "Delete", itinerary_activity_join_path(join),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
          </div>
        </div>
    <% end %>
    </div>




</div>
