<div class="container mt-5">
  <div class="card rounded-4 px-3 py-2 mt-5" style="display: inline-block;">
    <h2>Edit <%= resource_name.to_s.humanize %></h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: true %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

        <%= f.input :first_name,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :last_name,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                    hint: "leave it blank if you don't want to change it",
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :current_password,
                    hint: "we need your current password to confirm your changes",
                    required: true,
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :photo, as: :file %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Update", class: "btn btn-flat custom-button" %>
      </div>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="card rounded-4 px-3 py-2 mt-4" style="display: inline-block;">
    <h3>Cancel my account</h3>
    <p> Unhappy? </p>
    <div class="mb-2">
      <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "btn-delete btn btn-flat custom-button" %>
    </div>
  </div>
  <div class="mt-3 mx-3">
    <%= link_to "Back", user_path(current_user), class: "btn btn-flat custom-button" %>
  </div>
</div>
