<<<<<<< HEAD
<h1>Pages#home</h1>

<p>Give us some info and we will give you a customized trip</p>

<p>Destination</p>
<div class="container">
  <%= form_with url: root_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :name,
      params[:name],
      class: "form-control",
      placeholder: "Where do you want to go"
    %>
    <%= submit_tag "Search", class: "btn btn-flat ms-2" %>
    <%= link_to "Clear", root_path, class: "btn btn-flat ms-2" %>
  <% end %>
</div>

<p>Duration</p>

<p>Maximum budget</p>

<p>What kind of activities do you want to do? Select all that apply</p>


<p>Anywhere you've already been? Somewhere you want to skip entirely?</p>
=======
<div class="background">
    <div class="centering-text">
      <div>
        <h1><span data-controller="typed-js"></span></h1>

        <div data-aos="fade-zoom-in" data-aos-delay="11500" data-aos-duration="2000">
          <p>Trip planning, the <span class="header-font">lazy</span> way</p>
        </div>

        <%= form_with url: test_search_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :search,
            params[:search],
            class: "form-control",
            placeholder: "Search for a itinerary"%>

          <%= submit_tag "Search", class: "btn btn-flat ms-2" %>
        <% end %>
      </div>
    </div>
</div>
>>>>>>> master
